<!DOCTYPE html>
<html>
<head>
  <title>Hydra::ObjectViewer</title>
  <%= stylesheet_link_tag    "hydra-object_viewer/application", :media => "all" %>
  <%= javascript_include_tag "hydra-object_viewer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
